version: '3.8'

services:
  mysmarthome.automations:
    
    build: MySmartHome.Automations

    image: pereviader/mysmarthome.automations:latest
    container_name: mysmarthome.automations
    pull_policy: always
    restart: unless-stopped
    network_mode: "host"

    #provide an env file with the paths "--env-file .env"
    volumes:
      - ${APP_AUDIO_PATH}/:/app/audio:ro
      - ${APP_CONFIG_PATH}:/app/appsettings.Configuration.json:ro

    environment:
      - ASPNETCORE_HTTP_PORTS=15002
  
  mysmarthome.web:
  
    build: MySmartHome.Web

    image: pereviader/mysmarthome.web:latest
    container_name: mysmarthome.web
    pull_policy: always
    restart: unless-stopped

    ports:
      - "15001:15001"

    environment:
      - ASPNETCORE_HTTP_PORTS=15001